<body>
    +<a href="/">Home</a>
    +<a href="/about/">About</a>
    +<a href="/blog/">Blog</a>

    <h1>About Me
    <h2>... and my new Astro site!</h2>

    <p>I am woring on through 
        Astro's tutorial, and I am loving it! I am learning so much about how to build a website with Astro, and I can't wait to see what else I can do with it.
    </p>
    <p>This site will update as I complete more of the tutorial, so stay tuned for more updates!</p>
</body>