<body>
    +<a href="/">Home</a>
    +<a href="/about/">About</a>
    +<a href="/blog/">Blog</a>


    <h1>Blog</h1>
    <h2>Welcome to my blog!</h2>

    <p>This is my blog to my new Astro site. I am learning.</p>
    <p>I will be updating this page so stay tuned!</p>

</body>